Xml/Vacation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AllVacations">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Vacation">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="location" type="xs:string" />
              <xs:element name="price" type="xs:string" />
              <xs:element name="Atractions" >
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="10" name="atraction">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="price" type="xs:unsignedShort" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="id" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>